html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: monospace, sans-serif;
    font-size: 16px;
}
header {
    background-color: lightsteelblue;
}
ul {
    list-style: none;
}

section {

}
footer {
    background-color: silver;
}
#space-background {
    background-image: url('/img/theme/BlueSpace.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* Portrait */
@media screen
and (max-width: 640px)
{
    #space-background {
        background-size: auto;
        background-repeat: repeat-y;
    }
}

.note {
    color: #4E82BB;
    padding: 10px 5px;
    background: rgb(245, 249, 248);
    margin: 5px 0;
}

.note-mini {
    color: #4E82BB;
    padding: 5px 3px;
    background: rgb(245, 249, 248);
    margin: 5px 0;
    font-size: .7em;
}

ul.ul-list {
    list-style: circle;
}
/* Accounts */
.accounts-table img {
    height: 30px;
}
/* //Accounts */
/* About */
.about-food-icon {
    height: 50px;
}
.about-food-score {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
/* //About */
/* Index body */
.content {
    position: relative;
    width: 880px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 15px 50px 25px 50px;
    background-color: white;
    color: black;
}

.center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -45px;
}
/* //Index body */

/* Header */
#header-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: #323232;
    background: rgba(0,0,0,0.8);
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav-menu {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    color: white;
    font-family: monospace;
}
#nav-menu a {
    color: white;
    text-decoration: none;
}
#nav-menu-list {
    cursor: default;
    margin: 0 -10px;
    /*text-align: justify;*/
    width: auto;
    height: 44px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: justify;
    /*-ms-text-justify: distribute-all-lines;*/
    /*text-justify: distribute-all-lines;*/
}
.nav-menu-item {
    display: inline-table;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
    padding: 10px 20px;
}
#nav-menu-list .active a {
    color: #909090 !important;
}
#nav-menu-list .notactive a {
    color: #262626 !important;
}
.nav-menu-item.logo {
    margin-top: -10px;
}
.logo a img {
    height: 44px;
    opacity: 0.8;
    border: 0;
    border-radius: 50%;
}
/* /Header */

.header-delimeter {
    margin: 0;
    padding: 0;
    height: 48px;
    max-height: 44px;
}

.small-text {
    font-size: 0.8em;
}

.color-gray {
    color: gray;
}

.color-green {
    color: green;
}

.color-back {
    color: lightsteelblue;
}
.code {
    overflow: auto;
    background-color: #F7F7F7;
}

.delimeter {
    margin: 0;
    padding: 0;
    height: 10px;
    max-height: 10px;
}
.checked-li {
    list-style: initial;
}

/* responsiveness */
@media screen and (max-width: 1024px)
{
    .content {
        width: 80%;
    }

    #header-nav {
        min-width: 200px;
        width: 100%;
    }
    #header-nav:hover {
        height: auto;
        max-height: none;
    }

    #header-nav:hover .nav-menu-item {
        display: block;
    }
    #header-nav:hover #nav-menu-list {
        height: inherit;
    }
    #header-nav li:not(.logo) {
        display: none;
    }

    #nav-menu {
        max-width: none;

        background-image: url(/img/theme/burger.png);
        background-repeat: no-repeat;
        background-position: 90%;

    }
    #nav-menu:hover {
        background: none;
    }
}
.internal {
    text-decoration: none;
    border-bottom: 1px dashed;
}
/* domains */
.domain-presentation {
    border: 1px dashed #fd3535;
    padding: 10px;
}